.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.logo-container {
  display: flex;
  align-items: center;
}

.nav-btn {
  display: flex;
  align-items: center;
}

.nav-btn button {
  display: flex;
  align-items: center;
}

.logo {
  width: 30px;
  margin-right: 10px;
}

.brand-text {
  font-size: 24px;
  font-weight: bold;
}

.nav-btn button mat-icon {
  margin-right: 5px;
}
