.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.logo-container {
  display: flex;
  align-items: center;
}

.nav-btn {
  display: flex;
  align-items: center;
}

.logo {
  width: 30px;


  margin-right: 10px;
}